<!DOCTYPE html>
<html lang ="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>小智的博客</title>
        <link rel="stylesheet" href="../../css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title">
                    小智的博客
                </p>
                <p class="subtitle">
                    随便写写
                </p>
            </div>
        </section>
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">联系我</p>
                    <p>
                        <a href="https://github.com/wangyuzhi233"><img src="../../pic/github.png" alt="Github" width="25" height="25" /></a>
                        <a href="https://www.zhihu.com/people/wangxiaozhi6"><img src="../../pic/知乎.png" alt="知乎" width="25" height="25" /></a>
                    </p>
                </div>
                <div class="tile is-child box">
                    <p class="title">分类</p>
                    <ul id ="mylist">
                    </ul>
                </div>
            </div>
            <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title"><a href="../../">返回首页</a></p>
                </div>
                <div class="tile is-child box">
                    <p class="title" id="mytitle"></p>
                    <p><strong id = "mydate"></strong></p>
                    <br>
                    <p id = "myfirstpara"></p>
                    <br>


                    <p class="subtitle">并行</p>
                    <p>单个命令队列(ID3D12CommandQueue)是没有并行能力的，无论有几个命令列表(ID3D12CommandList)同一个队列只会一步步执行列表提交的命令，先提交的命令先执行。</p>
                    <p>所以，正确的并行方式是多创造几个命令队列，CPU端多线程执行不同的列表，合理分配任务让队列执行，避免管线气泡。</p>
                    <br>
                    <p class="subtitle">根签名和PSO</p>
                    <p>避免运行时编译PSO，同时根签名合理的创建方式是一个项目创建一个大的根签名，尽量不要改变。</p>
                    <br>
                    <p class="subtitle">交换链</p>
                    <p>使用翻转模式(flip mode),同时也要注意画面变化时，及时更改buffer大小。</p>
                    <br>
                    <p class="subtitle">总结</p>
                    <p>其实dx12最难的我个人认为是如何合理抽象成实际业务，我个人再写一个DX12的辅助库，很多有用的功能我觉得不能加入其中，举个例子来说DX12没有贴图这个概念。如果在库当中添加贴图就显得不伦不类</p>
                    <p>欢迎讨论，以上。</p>
                    
                </div>
                <div class="tile is-child box">
                    <p><a id ="lastart"></a></p>&nbsp;&nbsp;&nbsp;
                    <p><a id ="nextart"></a></p>
                </div>
            </div>
        </div>
        
        <footer class="footer">
            <div class="content has-text-centered">
            <p>
                <strong>小智的博客</strong>
            </p>
            </div>
        </footer>

        <script src="../../js/jquery-3.6.0.min.js"></script>
        <script src="../../js/cate.js"></script>
        <script>
            changeCate("../../");
            $.getJSON("../../js/blog.json", function(data){
                let index = 0;
                $("#mytitle").text(data[index].title);
                $("#mydate").text(data[index].date);
                $("#myfirstpara").text(data[index].firstparagraph);
                
                if(index != 0){
                    $("#lastart").text(data[index - 1].title);
                    $("#lastart").attr("href","../../" + data[index - 1].url);
                }
                if(index != data.length - 1){
                    $("#nextart").text(data[index + 1].title);
                    $("#nextart").attr("href","../../" + data[index + 1].url);
                }
            })
        </script>
    </body>
</html>